<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    {% extends "base.html" %}
    {% block content %}
        <h1>welcome to the polls index page</h1>
        {% if latest_detail %}
            {% for question in latest_detail %}
            
                <p class="lead">{{question.question_text}}</p>
                
            {% endfor %}
        {% else %}
            <p>not having a questions</p>
        {% endif %}
    {% endblock content %}



</body>
</html> 